[submodule "CoDaS_HEP"]
	path = ParallelProgramming
	url = ../../tgmattso/CoDaS_HEP.git
[submodule "ScientificPython"]
	path = ScientificPython
	url = ../../ianna/codas-hep-2026.git
[submodule "root-demo-notebooks"]
	path = root-demo-notebooks
	url = ../../guitargeek/root-demo-notebooks.git
